<div class="container">
  <div class="top" ngSwitch="{{searchType}}">
    <i class="material-icons type">{{ accountIconTitle }}</i>
    <div *ngSwitchCase="'phone'">{{ customer.phone[0] | phone }}</div>
    <!-- TODO: For searchType: 'phone', set to searched phone number -->
    <div *ngSwitchDefault>{{ customer[searchType] }}</div>
  </div>
  <div class="bottom">
    <customer-icon *ngFor="let property of filterIcons(iconPreferences)" iconType="{{ property }}" [customer]="customer"></customer-icon>
  </div>
</div>
