<div class="container" (mouseover)="hover=true" (mouseleave)="hover=false">
  <i class="material-icons">{{ iconTitle }}</i>
  <div class="parent">
    <div class="tooltip" [ngClass]="{'hiding': !hover}" [style.transform]="isPhoneIcon ? getPhonePosition() : null">
      <div ngSwitch="{{ iconType }}">
        <div *ngSwitchCase="'phone'" class="numbers">
          <table>
            <tr *ngFor="let number of customer.phone">{{ number | phone }}</tr>
          </table>
        </div>
        <div *ngSwitchCase="'ordered'">{{ customer[iconType] | date }}</div>
        <div *ngSwitchCase="'created'">{{ customer[iconType] | date }}</div>
        <div *ngSwitchDefault>{{ customer[iconType] }}</div>
      </div>
    </div>
  </div>
</div>
